.App {
  margin: 5% 15%;
}
.dropArea {
}

ul {
  background-color: whitesmoke;
  position: absolute;
  width: 50%;
  height: 50%;
  list-style: none;
  padding: 2%;
  padding-bottom: 4em;
}

li {
  position: relative;
  background-color: lightgrey;
  text-align: center;
  margin-top: 1em;
  padding: 0.2rem;
  border-color: blue;
  border-width: 1mm;
}
